Package: io.c0ldra1n.mitsuhaxi-beta
Name: MitsuhaXI (Beta)
Depends: mobilesubstrate
Version: 0.0.5
Architecture: iphoneos-arm
Description: Jell-O wave effect for Apple Music (iOS 11 Compatible)
Maintainer: Ominousness
Author: c0ldra1n
Section: Tweaks
