<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apple Music</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>MSHMusicEnabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>red</string>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>MSHMusicWaveColor</string>
			<key>label</key>
			<string>Wave color</string>
			<key>name</key>
			<string>Wave color</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Grey</string>
				<string>White</string>
				<string>Black</string>
			</array>
			<key>validValues</key>
			<array>
				<string>#fc3059:0.1</string>
				<string>#003059:0.1</string>
				<string>#000000:0.05</string>
				<string>#fcfcfc:0.2</string>
				<string>#000000:0.9</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>key</key>
			<string>MSHMusicWaveOffset</string>
			<key>min</key>
			<real>-150</real>
			<key>max</key>
			<real>150</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spotify</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>MSHSpotifyEnabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>white</string>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>MSHSpotifyWaveColor</string>
			<key>label</key>
			<string>Wave color</string>
			<key>name</key>
			<string>Wave color</string>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>validValues</key>
			<array>
				<string>#fcfcfc:0.2</string>
				<string>#fc3059:0.1</string>
				<string>#003059:0.1</string>
				<string>#000000:0.05</string>
				<string>#000000:0.9</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>key</key>
			<string>MSHSpotifyWaveOffset</string>
			<key>min</key>
			<real>-150</real>
			<key>max</key>
			<real>150</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>label</key>
			<string>Ignore ColorFlow</string>
			<key>key</key>
			<string>MSHSpotifyIgnoreColorFlow</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>MitsuhaXI</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>visitGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mitsuha2 by c0ldra1n,
ported to iOS 11 by Ominousness.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>MitsuhaXI</string>
</dict>
</plist>